.box {
  display: flex;
  justify-content: space-between;
  width: 50%;
  border: 5px solid rgb(0, 0, 0);
  padding: 20px 30px 20px 30px;
  color: black;
  font-size: 20px;
}
.link {
  border-bottom: 2px solid var(--background-end);
  font-size: 15px;
  text-decoration: none !important;
  color: black;
}
.link:hover{
  border-bottom: 2px solid rgb(0, 0, 0);
  cursor: pointer;
}

.active {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid rgb(0, 0, 0);
  font-size: 15px;
}
